<% if User.current.allowed_to?(:view_time_logger, nil, :global => true) or User.current.allowed_to?(:view_others_time_loggers, nil, :global => true) %>
    <span>
        <%= link_to l(:list_time_loggers),
            { :controller => '/time_loggers', :action => 'index' },
            { :class => 'icon-action icon-list-action', :title => l(:list_time_loggers) }
        %>
    </span>
<% end %>
